<header>
	<div class="header-wrapper">
		<h1>{{ title }}</h1>
		<p>{{ content }}</p>
	</div>
</header>
{# <header>
	<div class="header-wrapper">
		<h1>Restaurant de Prestige</h1>
		<p>Des plats savoureux à la montagne. Venez vivre une expérience gastronomique unique dans notre restaurant savoyard.</p>
	</div>
</header> #}
