<section class="section-newsletter py-5 bg-clr-dark-gray">
	<div class="container">
		<div class="row py-2">
			<div class="col-12 mb-3">
				<h3 class="h4 text-center txt-clr-light">Recevez nos dernières offres et actualités</h3>
			</div>
			<div class="col-12 mx-auto">
				<form action="">
					<div class="row">
						<div class=" input-group mb-3">
							<div class="col-12 col-md-6 d-flex mb-3">
								<span class="input-group-text bg-clr-dark-gray">
									<img src="{{ asset('./build/images/email.svg')}}" alt="icone email">
								</span>
								<input type="text" class="form-control" aria-label="addresse email" placeholder="Votre adresse email">
							</div>
							<div class="col-12 col-md-6 d-flex justify-content-center mb-3">
								<button class='btn btn-bg-primary'>INSCRIVEZ-VOUS</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
