<section class="section-reservation">
	<div class="container">
		<form action="">
			<div class="row d-flex mb-3">
				<div class="col-12 col-md-6 col-xl-3 mb-3">
					<div class="reservation-wrapper">
						<img class="icon-lg mb-4" src="{{ asset('./build/images/calendar.svg')}}" alt="icone calendrier">
						<label for="dateReservation" class="form-label mb-3">Date de réservation</label>
						<input type="date" class="form-control" id="dateReservation">
					</div>
				</div>
				<div class="col-12 col-md-6 col-xl-3 mb-3">
					<div class="reservation-wrapper">
						<img class="icon-lg mb-4" src="{{ asset('./build/images/time.svg')}}" alt="icone heure">
						<label for="hour" class="form-label mb-3">Heure d'arrivée</label>
						<input type="hour" class="form-control" id="hourReservation">
					</div>
				</div>
				<div class="col-12 col-md-6 col-xl-3 mb-3">
					<div class="reservation-wrapper">
						<img class="icon-lg mb-4" src="{{ asset('./build/images/guests.svg')}}" alt="icone invités">
						<label for="qtyGuest" class="form-label mb-3">Nombre de couverts</label>
						<input type="number" class="form-control" id="qtyGuest">
					</div>
				</div>
				<div class="col-12 col-md-6 col-xl-3 mb-3">
					<div class="reservation-wrapper">
						<img class="icon-lg mb-4" src="{{ asset('./build/images/notif-allergy.svg')}}" alt="icone liste allergies">
						<label for="allergies" class="form-label mb-3">Allergies</label>
						<input type="text" class="form-control" id="allergies">
					</div>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col d-flex justify-content-center">
					<button type="submit" class="btn btn-bg-primary">Reservez</button>
				</div>
			</div>
		</div>
	</form>
</section>
