{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Accueil
{% endblock %}

{% block body %}
	<header>
		<div class="header-wrapper">
			<h1>Restaurant de Prestige</h1>
			<p>Des plats savoureux à la montagne. Venez vivre une expérience gastronomique unique dans notre restaurant savoyard.</p>
		</div>
	</header>
	<main>
		{% include "./home/_reservation-form.html.twig" %}
		{% include "./home/_section-presentation.html.twig" %}
		{% include "./home/_section-preview-dishes.html.twig" %}
		{% include "./home/_section-timetable.html.twig" %}
		{% include "./_partials/_newsletter.html.twig" %}
	</main>
{% endblock %}
