{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<header>
		<div class="header-wrapper">
			<h1>Restaurant de Prestige</h1>
			<p>Des plats savoureux à la montagne. Venez vivre une expérience gastronomique unique dans notre restaurant savoyard.</p>
		</div>
	</header>
	<main>
		<section class="section-reservation">
			<div class="container">
				<form action="">
					<div class="row d-flex mb-3">
						<div class="col-12 col-lg-6 col-xl-3 mb-3">
							<div class="reservation-wrapper">
								<label for="dateReservation" class="form-label">Date de réservation</label>
								<input type="date" class="form-control" id="dateReservation">
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl-3 mb-3">
							<div class="reservation-wrapper">
								<label for="hour" class="form-label">Heure d'arrivée</label>
								<input type="hour" class="form-control" id="hourReservation">
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl-3 mb-3">
							<div class="reservation-wrapper">
								<label for="qtyGuest" class="form-label">Nombre de couverts</label>
								<input type="number" class="form-control" id="qtyGuest">
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl-3 mb-3">
							<div class="reservation-wrapper">
								<label for="allergies" class="form-label">Allergies</label>
								<input type="text" class="form-control" id="allergies">
							</div>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col d-flex justify-content-center">
							<button type="submit" class="btn btn-bg-primary">Reservez</button>
						</div>
					</div>
				</div>
			</form>
		</section>
	</main>
{% endblock %}
