{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}

{% block body %}
	{% include "./_partials/_header.html.twig" with {'title':'Restaurant de Prestige', 'content': 'Des plats savoureux à la montagne. Venez vivre une expérience gastronomique unique dans notre restaurant savoyard.'} %}
	<main>
		{% include "./home/_reservation-form.html.twig" %}
		{% include "./home/_section-presentation.html.twig" %}
		{% include "./home/_section-preview-dishes.html.twig" %}
		{% include "./home/_section-timetable.html.twig" %}
	</main>
{% endblock %}
