@use './../base/colors' as clr;

.section-presentation {
  position: relative;
  padding-top: 3rem;
  background: clr.$clr-dark-gray url('./../../../images/texture-dark.png') 100%
    center no-repeat;
  background-size: cover;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -5rem;
    height: 10rem;
    width: 100%;
    background: linear-gradient(
      180deg,
      clr.$clr-dark-gray,
      rgba(clr.$clr-dark-gray, 0.1)
    );
  }

  .presentation-content {
    display: grid;
    margin-block: 5rem;
    width: 100%;
    // height: 250px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, repeat(5, 250px);
    gap: 3rem;
    grid-template-areas:
      'i'
      'a'
      'b'
      'c'
      'd'
      'e';
    @media screen and (min-width: 578px) {
      margin-top: 5rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
        'i i'
        'a b'
        'c d'
        'e .';
    }
    @media screen and (min-width: 991px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
        'a i b'
        'c i d'
        '. e .';
      .presentation-option-wrapper {
        min-height: 300px;
      }
    }
    .presentation-option-wrapper {
      text-align: center;
      h3 {
        text-align: center;
        margin-bottom: 1rem;
      }
      p {
        text-align: center;
      }
    }
    .option-quality {
      grid-area: a;
    }
    .option-picture {
      grid-area: i;
      display: flex;
      align-items: center;
      justify-content: center;
      .wrapper-img {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: clr.$clr-primary;
        background: linear-gradient(
          180deg,
          rgba(clr.$clr-primary, 0.1),
          clr.$clr-primary
        );
        padding: 1rem;
        width: 290px;
        height: 380px;
        -webkit-border-radius: 180px / 240px;
        -moz-border-radius: 180px / 240px;
        border-radius: 180px / 240px;
        z-index: 0;
        box-shadow: rgb(0, 0, 0) 0px 22px 70px 4px,
          rgb(0, 0, 0) 0px 40px 50px -10px;
        &::after {
          content: '';
          position: absolute;
          z-index: -1;
          inset: 0.15rem;
          background-color: clr.$clr-dark-gray;
          -webkit-border-radius: 180px / 240px;
          -moz-border-radius: 180px / 240px;
          border-radius: 180px / 240px;
          box-shadow: rgba(clr.$clr-dark-gray, 0.55) 0px -30px 60px -12px inset,
            rgba(0, 0, 0, 0.82) 0px 18px 36px -18px inset;
        }
        img {
          position: absolute;
          bottom: 0;
          z-index: 1;
          height: 350px;
          object-fit: cover;
          filter: drop-shadow(rgb(0, 0, 0) 0px -12px 9px);
        }
      }
    }
    .option-environment {
      grid-area: b;
    }
    .option-service {
      grid-area: c;
    }
    .option-location {
      grid-area: d;
    }
    .option-specialities {
      grid-area: e;
    }
  }
}

// SECTION PREVIEW DISHES

.section-preview-dishes {
  background: clr.$clr-light-gray url('./../../../images/texture-dark.png') 100%
    center no-repeat;
  background-size: cover;
  .preview-dishes-card img {
  }
}

.section-timetable {
  position: relative;
  padding-top: 3rem;
  background: clr.$clr-dark-gray url('./../../../images/texture-dark.png') 100%
    center no-repeat;
  background-size: cover;
  color: clr.$clr-dark-gray;

  .timetable-content {
    background: url('./../../../images/timetable-bg.png') no-repeat;
    filter: drop-shadow(rgb(0, 0, 0) 0px 22px 60px)
      drop-shadow(rgb(0, 0, 0) 0px 46px 80px);
    background-size: 100% 100%;
    color: clr.$clr-dark-gray;
    max-width: 820px;
    height: auto;
    // width: 100%;

    .col-12 {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    h3 {
      position: relative;
      max-width: 40ch;
      padding-top: 0.6rem;
      padding-bottom: 1rem;
      margin-inline: auto;
      text-align: center;
      padding-inline: 2rem;
      //   border-bottom: 2px solid rgba(255, 255, 255, 0.264);
      //   &::after {
      //     content: '';
      //     position: absolute;
      //     top: 9rem;
      //     left: 2rem;
      //     right: 2rem;
      //     // width: calc(100% - 2rem);
      //     height: 1rem;
      //     // transform: translateX(-1rem);
      //     // padding-block: 3rem;
      //     text-align: center;
      //     // padding-inline: 2rem;
      //     border-bottom: 2px solid rgba(255, 255, 255, 0.264);
      //     background-color: rgba(clr.$clr-primary, 0.3);
      //   }
    }
    table {
      margin-bottom: 5rem;
      width: calc(100% - (1vw + 1rem));
      @media screen and (min-width: 512px) {
        width: calc(100% - (4vw + 2rem));
      }
      @media screen and (min-width: 768px) {
        width: calc(100% - (11vw + 2rem));
      }
    }
  }
}
