@use './../base/colors' as clr;

header {
  position: relative;
  z-index: 1;
  height: 700px;
  background: url('../../../images/restaurant-room.webp') no-repeat center top;
  object-fit: cover;
  .header-wrapper {
    position: absolute;
    top: 30%;
    left: 1rem;
    right: 1rem;
    background-color: rgba(clr.$clr-dark-gray, 0.5);
    box-shadow: rgba(0, 0, 0, 0.76) 0px 22px 70px 4px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.264);
    max-width: 39rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    border-radius: 0.5rem;
    backdrop-filter: blur(12px);
    opacity: 0;
    transform: translateX(-5rem);
    animation: animHeader 0.45s 2s ease-out forwards;
    h1 {
      margin-bottom: 1.5rem;
      color: clr.$clr-primary;
      font-size: 3rem;
      text-shadow: 0 3px 3px rgb(0, 0, 0);
    }
    p {
      color: clr.$clr-light;
      font-size: 1.15rem;
    }
  }

  @media screen and (min-width: 991px) {
    .header-wrapper {
      position: absolute;
      top: 36%;
      left: 5rem;
    }
  }
  @media screen and (min-width: 768px) {
    .header-wrapper {
      position: absolute;
      top: 36%;
      left: 5rem;
      h1 {
        margin-bottom: 1.5rem;
        font-size: 5rem;
      }
      p {
        font-size: 1.35rem;
      }
    }
  }
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
      0deg,
      clr.$clr-dark-gray 2%,
      rgba(255, 255, 255, 0)
    );
    z-index: -1;
  }
  @keyframes animHeader {
    to {
      opacity: 1;
      transform: translateX(0rem);
    }
  }
}
