@use './../base/colors' as clr;

.section-reservation {
  background: clr.$clr-dark-gray;
  form {
    background: clr.$clr-dark-gray;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 0.5rem;
    padding-inline: 2rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    .reservation-wrapper {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      padding-inline: 2rem;
      padding-block: 2rem;
      background-color: clr.$clr-light-gray;
      border-radius: 0.5rem;
      label {
        color: clr.$clr-light;
      }
    }
    button[type='submit'] {
      margin-top: 1rem;
    }
  }
}
