@use './../base/colors' as clr;

.section-reservation {
  background: clr.$clr-dark-gray;
  form {
    position: relative;
    z-index: 5;
    background-color: clr.$clr-dark-gray;
    background-image: linear-gradient(
      278deg,
      rgba(clr.$clr-light-gray, 1),
      clr.$clr-dark-gray
    );
    // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    //   rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    //   rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.73) 0px 22px 70px 4px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.264);
    border-radius: 0.5rem;
    padding-inline: 2rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    .reservation-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      border-bottom: 2px solid rgba(255, 255, 255, 0.074);
      padding-inline: 2rem;
      padding-block: 2rem;
      background-color: clr.$clr-light-gray;
      background-color: clr.$clr-dark-gray;
      background-image: linear-gradient(
        180deg,
        clr.$clr-light-gray,
        clr.$clr-dark-gray
      );
      border-radius: 0.5rem;
    }
  }
}
