{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!
{% endblock %}

{% block body %}
	{% include "./_partials/_header.html.twig" with {'title':'Nos menus savoureux', 'content': 'Découvrez nos menus savoureux, préparés avec passion par notre chef talentueux. Des plats authentiques et raffinés mettant en valeur des ingrédients frais de qualité, pour une expérience culinaire mémorable.'} %}
	<main></main>
{% endblock %}
