{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Menu
{% endblock %}

{% block body %}
	{% include "./_partials/_header.html.twig" with {'title':'Nos menus savoureux', 'content': 'Découvrez nos menus savoureux, préparés avec passion par notre chef talentueux. Des plats authentiques et raffinés mettant en valeur des ingrédients frais de qualité, pour une expérience culinaire mémorable.'} %}
	<main>
		<section class="section-menu py-5">
			<div class="container">
				<div class="row my-5">
					<h2 class="text-center txt-clr-primary">Une symphonie de saveurs dans nos menus</h2>
					<img class="img-separator mb-2" src="{{ asset('./build/images/separator.svg')}}" alt="illustration separator">
				</div>
				<div class="row pb-3 mx-0">
					<div class="img-menu-wrapper"></div>
				</div>
				<div class="row d-flex justify-content-center mb-5">
					{% for menu in menus %}
						{% include "./menu/menu-table.html.twig" with {'menu': menu} %}
					{% endfor %}
				</div>
				<div class="row py-5">
					<div class="col-12 mb-3">
						<h3 class="h4 text-center txt-clr-primary">Des menus sur mesure pour toutes vos célébrations</h3>
					</div>
					<div class="col-12 col-lg-8 mx-auto mb-4">
						<p class='txt-clr-light text-start text-md-center'>Nous proposons des menus sur mesure pour vos événements spéciaux. Que ce soit un dîner d'affaires, une fête de famille ou une célébration spéciale, nous sommes là pour répondre à vos attentes culinaires. Veuillez nous contacter pour discuter de vos besoins et permettez-nous de créer un menu sur mesure qui fera de votre événement une expérience inoubliable.</p>
					</div>
					<div class="col-12 d-flex justify-content-center my-3">
						<a href="#" type="button" class="btn btn-bg-primary">CONTACT</a>
					</div>
				</div>
				<div class="row py-5">
					<h2 class="text-center txt-clr-primary">Nos Formules Gourmandes</h2>
					<img class="img-separator mb-2" src="{{ asset('./build/images/separator.svg')}}" alt="illustration separator">
				</div>
				<div class="row pb-3 mx-0">
					<div class="img-formula-wrapper"></div>
				</div>
				<div class="row d-flex justify-content-center pb-5">
					{% for formule in formules %}
						{% include "./menu/formula-table.html.twig" with {'formule': formule} %}
					{% endfor %}
				</div>
				<div class="row py-5">
					<div class="col-12 mb-3">
						<h3 class="h4 text-center txt-clr-primary">Formules gastronomiques en constantes évolutions</h3>
					</div>
					<div class="col-12 col-lg-8 mx-auto mb-4">
						<p class='txt-clr-light text-start text-md-center'>Notre restaurant propose des formules avec des choix d'entrées, salades, plats et desserts qui changent régulièrement. Nos chefs créatifs explorent de nouvelles combinaisons de saveurs et privilégient les produits de saison. Venez découvrir nos formules qui reflètent les dernières inspirations culinaires pour une expérience gastronomique toujours renouvelée.</p>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
