@use './colors' as clr;

.bg-clr-light-gray {
  background-color: clr.$clr-light-gray;
}
.bg-clr-dark-gray {
  background-color: clr.$clr-dark-gray;
}
.bg-clr-secondary {
  background-color: clr.$clr-secondary;
}
.txt-clr-light {
  color: clr.$clr-light;
}
.txt-clr-primary {
  color: clr.$clr-primary;
}
.txt-clr-secondary {
  color: clr.$clr-secondary;
}
.txt-clr-dark {
  color: clr.$clr-dark-gray;
}
