* {
  font-family: 'poppins', Geneva, Verdana, sans-serif;
  font-weight: 300;
}
h1,
h2 {
  font-family: 'Lavenda', Verdana, sans-serif;
  text-shadow: 0 4px 4px rgb(0, 0, 0);
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 2.8rem;
}

@media screen and (min-width: 578px) {
  h2 {
    font-size: 3.8rem;
  }
}
